* {
    box-sizing: border-box;
}

.container {
    padding-top: 50px;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin: 0 auto;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity .2s ease-in-out;
    visibility: hidden;
}

.filter-link{
    cursor: pointer;
}

.form-error {
    opacity: 0;
    visibility: hidden;
    color: crimson;
}

.filter-form {
    gap: 10px;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.display-none {
    display: none;
}